<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: linear-gradient(45deg, #1a2a6c, #2a4858);">
      <div class="container-fluid">
        
        <button class="navbar-brand" (click)="dashboard">
          <i (click)="dashboard" class="fas fa-anchor me-2"></i>
          Batalla Naval
        </button>
        <button class="navbar-toggler" (click)="dashboard"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout()">
                <i class="fas fa-sign-out-alt me-1"></i>
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>